figure#figure-section {
	flex: 4;
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: 0% center;
	background-size: cover;
	animation: loopBg 9s ease-in-out alternate infinite;
}


@keyframes loopBg {
	0% {
		background-position: 0% center;
	}
	100% {
		background-position: 100% center;
	}
}
