main#main-section {
	@include wh;
	@include gridColRow(col-3, col-4, row-1, row-2);
	background: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	display: grid;
	grid-template-columns: [col-1] 1fr [col-2];
	grid-template-rows: [row-1] 200px [row-2] 1fr [row-3] 100px [row-4];

	section#main-header {
		@include wh;
		@include gridColRow(col-1, col-2, row-1, row-2);
		background: #005792;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #ECFAFB;

		h1#main-shop-name {
			font-size: 4rem;
			letter-spacing: 2px;
		}

		h2#main-shop-location {
			font-size: 1.5rem;
			letter-spacing: 2px;
			line-height: 1.5;
		}
	}

	section#main-body {
		@include wh;
		@include gridColRow(col-1, col-2, row-2, row-3);
		background: #fff;
		color: #343434;
		padding: 1rem;

		h3 {
			font-size: 2.5rem;
			margin-bottom: 2rem;
		}

		ul#main-coffee-choice {
			li {
				font-size: 1.5rem;
				letter-spacing: 2.5px;
				margin-bottom: 1rem;
			}
		}
	}

	section#main-footer {
		@include wh;
		@include gridColRow(col-1, col-2, row-3, row-4);
		background: #81CBC8;
		padding: 1rem;
		display: flex;
		justify-content: flex-end;

		ul#social-icons {
			margin: 0;
			padding: 0;
			@include flex;

			li {
				display: inline-block;
				margin: 1rem;

				a {
					display: inline-block;
					transition: 0.25s all ease-in-out;

					&:hover {
						transform: scale(1.15);
					}

					i {
						font-size: 3.5rem;
						color: #fff;
					}
				}
			}
		}
	}
}
