main#main-section {
	flex: 3;
	width: 100%;
	height: 100%;
	background: #fff;
	position: relative;
	display: flex;
	flex-direction: column;

	section#main-header {
		flex: 2;
		background: #005792;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #ECFAFB;

		h1#main-shop-name {
			font-size: 4rem;
		}

		h2#main-shop-location {
			font-size: 1.5rem;
			letter-spacing: 2px;
		}
	}

	section#main-body {
		flex: 7;
		background: #fff;
		color: #343434;
		padding: 1rem;

		h3 {
			font-size: 2.5rem;
		}

		ul#main-coffee-choice {
			li {
				font-size: 1.5rem;
				letter-spacing: 2.5px;
				margin-bottom: 1rem;
			}
		}
	}

	section#main-footer {
		flex: 1;
		background: #81CBC8;
		display: flex;
		justify-content: space-around;
		align-items: center;
		button#order-btn {
			@include wh(normal, 200px, 60px);
			@include flex(center,center);
			font-size: 2rem;
			color: #fff;
			background: #81CBC8;
			border: 2px solid #fff;
			outline: none;
			border-radius: 10px;
			cursor: pointer;
			letter-spacing: 2px;
			transition: 0.35s all ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
		}

		ul#social-icons {
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin: 1rem;
				a {
					display: inline-block;
					transition: 0.25s all ease-in-out;
					&:hover {
						transform: scale(1.15);
					}
					i {
						font-size: 4rem;
						color: #fff;
					}
				}
			}
		}
	}
}
